<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style/index.css">
  <script src="<%= appBundle %>"></script>
  <title>Phaser App Playground</title>
</head>
<body>

<div id="phaser-game"></div>

<button id="runButton" style="display: none">Run</button>
<button id="resetButton" style="display: none">Reset</button>

<script>
  // Initialize test instance of game, exposed to window for debugging.
  var phaserApp = new PhaserApp({
    containerId: 'phaser-game',
    assetRoot: '/assets/'
  });
  phaserApp.loadLevel({
    groundMap: [
      ["grass", "grass", "grass", "grass", "grass", "grass", "grass", "grass", "grass", "grass"],
      ["grass", "grass", "grass", "grass", "grass", "grass", "grass", "grass", "grass", "grass"],
      ["grass", "sand", "sand", "sand", "sand", "sand", "sand", "grass", "grass", "grass"],
      ["grass", "sand", "sand", "sand", "sand", "sand", "sand", "grass", "grass", "grass"],
      ["grass", "grass", "grass", "sand", "sand", "sand", "sand", "grass", "grass", "grass"],
      ["grass", "grass", "grass", "sand", "sand", "sand", "sand", "grass", "grass", "grass"],
      ["grass", "grass", "grass", "grass", "grass", "grass", "grass", "grass", "grass", "grass"],
      ["grass", "sand", "grass", "grass", "grass", "grass", "grass", "grass", "grass", "grass"],
      ["grass", "grass", "grass", "grass", "grass", "grass", "dirt", "dirt", "dirt", "dirt"],
      ["grass", "dirt", "dirt", "dirt", "dirt", "dirt", "dirt", "dirt", "dirt", "dirt"]
    ],
    objectMap: [
      ["", "", "", "", "", "", "", "", "", ""],
      ["mushroom", "mushroomB", "", "", "", "", "", "mushroom", "mushroom", "mushroom"],
      ["rail", "mushroom", "", "", "", "", "", "", "", ""],
      ["rail", "", "mushroomB", "", "", "", "grass", "mushroom", "mushroom", "mushroom"],
      ["rail", "mushroom", "mushroomB", "grass", "grassB", "grass", "grass", "grassB", "grass", "mushroom"],
      ["rail", "mushroom", "mushroomB", "grassB", "grassB", "grassB", "mushroom", "mushroom", "mushroom", "mushroom"],
      ["rail", "", "", "", "", "", "", "", "", "mushroom"],
      ["rail", "grassB", "mushroomB", "mushroomB", "mushroomB", "mushroomB", "mushroomB", "mushroomB", "mushroomB", "mushroomB"],
      ["rail", "fence", "fence", "fence", "fence", "fence", "fence", "fence", "fence", "fence"],
      ["rail", "", "", "", "", "", "mushroom", "mushroom", "mushroom", "mushroom"]
    ]
  });
  window.phaserApp = phaserApp;

</script>

<script>
document.write(
  '<script src="//'
  + window.location.hostname
  + ':<%= liveReloadPort %>/livereload.js"><\/script>'
);
</script>

</body>
</html>
