<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style/index.css">
  <script src="test-build-only/phaser.js"></script>
  <script src="<%= appBundle %>"></script>
  <script src="test-build-only/jquery-1.7.min.js"></script>
  <script src="test-build-only/soundEffects.js"></script>
  <style>
    .description {
      font-size: small;
      color: gray;
      margin-left: 15px;
    }
    pre {
      margin: 0;
    }
  </style>
  <title>Phaser App Playground</title>
</head>
<body>

<div id="phaser-game" style="float:left;"></div>

<textarea id="test-code-area" style="float:left; width:300px; height:300px;"></textarea>
<div style="margin:10px; clear:both;"></div>
<button id="run-button">Run</button>
<button id="reset-button">Reset</button>
<div style="margin:10px; clear:both;"></div>
<button id="previous-level">Previous level</button>
<button id="refresh-button">Refresh</button>
<button id="next-level">Next level</button>
<div style="margin:10px; clear:both;"></div>
<div>Level instructions: <span id="level-instructions" style="font-weight:bold;"></span></div>
<div>Level feedback: <span id="level-feedback" style="font-weight:bold;"></span></div>
<div>
  <h2>Using test commands:</h2>
  <ul>
    <tt><pre>placeBlock('logOak');</pre></tt> <span class="description">places logOak block at player's feet</span>
    <tt><pre>moveForward();</pre></tt> <span class="description">moves player forward </span>
    <tt><pre>turnLeft();</pre></tt> <span class="description">turns player left</span>
    <tt><pre>turnRight();</pre></tt> <span class="description">turns player right</span>
    <tt><pre>destroyBlock();</pre></tt> <span class="description">destroys targeted block</span>
    <tt><pre>whileAhead('', do{<br>  moveForward();<br>  moveForward();<br>});</pre></tt> <span class="description">moves forward while block ahead is <tt>''</tt> (air)</span>
    <tt><pre>for (var i = 0; i < 99; i++) {<br>  moveForward();<br>  moveForward();<br>}</pre></tt> <span class="description">repeat loop: change 99 to # of times to repeat</span>
  </ul>
  <h2>Implemented block types:</h2>
  <ul>
    <li><tt>logOak</tt></li>
    <li><tt>tallGrass</tt></li>
    <li><tt>grass</tt></li>
    <li><tt>coarseDirt</tt></li>
    <li><tt>planksOak</tt></li>
  </ul>
</div>

<script>
  var demoLevels = window.demoLevels;

  function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
      results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
  }

  // Initialize test instance of game, exposed to window for debugging.
  var phaserApp = new PhaserApp({
    Phaser: window.Phaser,
    containerId: 'phaser-game',
    assetRoot: 'assets/',
    audioPlayer: new Sounds(),
    debug: true
  });
  var levelNumber = parseInt(getParameterByName('level') || 1, 10);
  var testLevelToLoad = demoLevels[levelNumber];
  phaserApp.loadLevel(testLevelToLoad);

  $('#test-code-area').val(testLevelToLoad.solutionCode);
  $('#level-instructions').html(testLevelToLoad.instructions);

  var replacements = {
    "do{": "function(){"
  };

  function isFunction(functionToCheck) {
     var getType = {};
     return functionToCheck && getType.toString.call(functionToCheck) === '[object Function]';
  }

  function shortHandToApiCalls(shortHandCode) {
    $.each(replacements, function(key, value) {
      shortHandCode = shortHandCode.split(key).join(value);
    });
    return shortHandCode;
  }

  function runCodeWithParams(code, options) {
    // execute JS code "natively"
    var params = [];
    var args = [];
    for (var k in options) {
      params.push(k);
      args.push(options[k]);
    }
    params.push(code);
    var ctor = function() {
      return Function.apply(this, params);
    };
    ctor.prototype = Function.prototype;
    return new ctor().apply(null, args);
  }

  $('#run-button').click(function () {
    var shortHandCode = $('#test-code-area').val();
    var code = shortHandToApiCalls(shortHandCode);

    var codeOrgAPI = phaserApp.codeOrgAPI;
    codeOrgAPI.startCommandCollection();
    runCodeWithParams(code, {
      codeOrgAPI: codeOrgAPI,
      placeBlock: codeOrgAPI.placeBlock.bind(null, function(){}),
      moveForward: codeOrgAPI.moveForward.bind(null, function(){}),
      turnLeft: codeOrgAPI.turnLeft.bind(null, function(){}),
      turnRight: codeOrgAPI.turnRight.bind(null, function(){}),
      destroyBlock: codeOrgAPI.destroyBlock.bind(null, function(){}),
      whileAhead: codeOrgAPI.whilePathAhead.bind(null, function(){})
    });
    codeOrgAPI.startAttempt(function (result) {
      $('#level-feedback').html(result ? "Success!" : "Failure").css("color", result ? "green" : "red");
    });
  });

  $('#reset-button').click(function () {
    phaserApp.codeOrgAPI.resetAttempt();
  });

  $("#refresh-button").click(function() {
    window.location.reload();
  });

  if (!demoLevels[levelNumber - 1]) {
    $('#previous-level').hide();
  }

  if (!demoLevels[levelNumber + 1]) {
    $('#next-level').hide();
  }

  $('#next-level').click(function() {
    window.location.href = window.location.href.split("?")[0] + "?level=" + (levelNumber + 1);
  });

  $('#previous-level').click(function() {
    window.location.href = window.location.href.split("?")[0] + "?level=" + (levelNumber - 1);
  });

  window.phaserApp = phaserApp;
</script>

<% if (liveReloadPort) { %>
<script>
  document.write(
    '<script src="//'
    + window.location.hostname
    + ':<%= liveReloadPort %>/livereload.js"><\/script>'
  );
</script>
<% } %>

</body>
</html>
